@model kuasociados.Models.News



@{
    ViewBag.Title = "Index";
}

@{
    string i = "hola";
 }
<section class="novedades">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Últimas novedades</h1>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="grid cs-style-6">
                   
                    <figure>
                        <img src="../Content/img/background-10.jpg" alt="imagen-noticia" class="" />
                        <figcaption>
                            <p>Titulo de la noticia<br>
                               Subtitlo<br>
                            <span class="author">Autor</span>
                            <br><span>Fecha </span>
                            </p>
                            
                            <a href="/">Ver noticia</a>  
                        </figcaption>
                    </figure>
                    @if (i == "hola")
                    {

                        <div class="row">
                            <div class="col-md-12">
                                <div class="pull-right mtxs">
                                    <button class="btn btn-primary"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                                    <button class="btn btn-danger"><i class="fa fa-times" aria-hidden="true"></i></button>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {

                    }    
                </div>
                @*for de noticias*@

            </div>
            <div class="col-md-4">
                <aside>
                    @if(i == "hola")
                    {
                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel admin">
                                    <h3 class="mbxs">Admin</h3>
                                    <button class="btn btn-success"><i class="fa fa-plus" aria-hidden="true"></i></button><span class="mlxs">Agregar noticia</span>
                                    
                                </div>
                            </div>
                        </div>
                    }
                    else{

                    }
                </aside>
            </div>
        </div>
    </div>
    
</section>
