@{
    ViewBag.Title = "Home Page";
}
<section class="home">
    <div id="fullpage">
        <div class="section active" id="section0">
       
            <input type="hidden" name="id" value="1" />
            <img src="/Content/img/home-law.jpg" class="section0-img" />
            <div class="section0-overlay"></div>
            <p class="home_quote animated fadeIn">
                “La ley no debe tornar al pasado,<br> sino preveer el futuro.”
                <br><br>
                <span class="mls">Niccolo Maquiavelo</span>
            </p>
        </div>
        <div class="section" id="section1">
            <div class="slide">
                <div class="intro">
                    <div class="row">
                        <div class="col-md-9 col-sm-12 col-xs-12 text-center">
                            <img class="function-icon" src="~/Content/img/icono-funcion.png">
                            <p class="animated fadeIn function-p ">
                                El trabajo en <span class="white">equipo</span>, la mirada integradora de todas las especialidades jurídicas,
                                la comprensión del negocio son cualidades facilitadas
                                por la promoción del continuo <span class="white">entrenamiento</span>
                                y la <span class="white">capacitación</span> permanente ofrecida a los integrantes del Estudio. 
                            </p>
                        </div>                      
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="intro">
                    <div class="row">
                        <div class="col-md-9 col-sm-12 col-xs-12 text-center">
                            <img class="function-icon" src="~/Content/img/icono-funcion-1.png">
                            <p class="animated fadeIn function-p ">
                                La conjunción de <span class="white">valores</span> acumulados en el pasado,
                                con la pujanza y la <span class="white">solidéz</span> profesional del presente,
                                constituyen una gran <span class="white">riqueza</span> institucional.
                            </p>
                        </div>
                    </div>
                  
                </div>
            </div>
            <div class="slide">
                <div class="intro">
                    <div class="row">
                        <div class="col-md-9 col-sm-12 col-xs-12 text-center">
                            <img class="function-icon" src="~/Content/img/icono-funcion-2.png">
                            <p class="animated fadeIn function-p ">
                                El Estudio posee una fuerte imagen de tradición y vanguardia,
                                es inspirador de <span class="white">confianza</span> y está dotado de los atributos y
                                recursos necesarios para brindar un servicio de la más alta <span class="white">calidad</span>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section" id="section2">
            <div class="intro">
                <div class="row">
                    <div class="col-md-6 col-sm-8 col-xs-12 text-center">
                        <p>
                            " Nuestra <span class="white">misión</span> es dar solución a las necesidades de nuestros clientes
                            y lograr la realización personal y profesional de los miembros del Estudio,
                            dentro de los más altos estándares éticos y de excelencia, así como contribuir
                            a la consolidación del estado de derecho en el país. "<br> Hernán Gonzáles - CEO 
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="section" id="section3">
            <div class="intro">
                <div class="row">
                    <div class="col-md-6 col-sm-8 col-xs-12 text-center">
                        <h3>Nuestra Visión:</h3>
                        <p >Mantener una empresa eficiente con alto grado profesional 
                        y cultura humana que la haga perdurable en el tiempo.</p>
                   
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>