

.home{
    .white{
        color: white;
    }
    .section0-img{
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 3;
    }
    .section0-overlay{
        background-color: #000000;
        opacity: 0.4;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        width: 100%;
        height: 100%;
    }
    &_quote{
        position: absolute;
        bottom: 25%;
        left: 10%;
        font-family: 'Bad Script', cursive;
        font-size: 50px;
        color: white;
        animation-delay: 2s;
        z-index: 11;
    }
    #section1{
        background-image:url("/Content/img/background-8.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        p{
            color: #494848;
            font-family: "Courgette";
            font-size: 60px;
            padding: 10px 130px;
        }
        p:hover{
            transform:scale(1.1);     
            transition-duration: 5s; 
         }
        .function-icon{
            height: 162px;
            width: 160px;
            margin-bottom: 20px;
        }
    }
    #section2{
        background-image:url("/Content/img/background-4.jpg");
        background-size: cover;
        background-repeat: no-repeat;
         p{
            color: #760000;
            font-family: "Josefin Sans";
            font-size: 49px;
            padding: 10px 105px;
            line-height: 55px;
            border-radius: 20px;
        }
         p:hover{
            transform:skew(5deg,5deg);     
            transition-duration: 5s; 
         }
    }
    #section3{
        background-image:url("/Content/img/background-10.jpg");
        background-size: cover;
        background-repeat: no-repeat; 
        h3{
            color:  white;
            font-family: "Courgette";
            font-size: 55px;
        }
        p{
            color:  white;
            font-family: "Courgette";
            font-size: 49px;
        }
        p:hover{
            transform:skew(5deg,5deg);     
            transition-duration: 5s; 
         }
    }
}

 #fp-nav ul li a span{
    background: white;
}
#fp-nav ul li .fp-tooltip {
    color: #fff;
    font-size: 20px;
    font-family: "Courgette" , sans-serif;
    top: -5.5px;
}

