@media (max-width: 1200px){

} 

@media (max-width: 992px) {
    .home{
        #section1{
            background-image:url("/Content/img/background-8.jpg"); /*fondo para pantalla mas chica*/
            p{
                font-size: 30px;
                padding: 20px 50px;
            }
            .function-icon{
                height: 162px;
                width: 160px;
            }
        }
        #section2{
            background-image:url("/Content/img/background-4.jpg"); /*fondo para pantalla mas chica*/
             p{
                font-size: 29px;
                 padding: 20px 50px;
                line-height: 31px;
            }
        }
    } 
}

@media (max-width: 768px) {
    .navbar{
        background-color: rgba(0,0,0,0.7);
        .nav > li > a:hover, .nav > li > a:focus, .nav > li.active > a{
        background-color: rgba(0,0,0,0.9);
        }
    }
    .novedades{
        .grid figcaption p {
	        top: 5%;
	        left: 5%;
            font-family: Courgette;
            font-size: 14px;
        }
        .cs-style-6 figure:hover img{
	        -webkit-transform: translateY(-40px) scale(0) !important;
	        -moz-transform: translateY(-40px) scale(0) !important;
	        -ms-transform: translateY(-40px) scale(0) !important;
	        transform: translateY(-40px) scale(0) !important;
        }
    }

}