.navbar{
    .nav > li > a{
        color: white;
        font-family: "Asap";
        font-size: 16px;
    }
    .nav > li > a:hover, .nav > li > a:focus, .nav > li.active > a{
        background-color: rgba(0,0,0,0.2);
    }
    .navbar-brand{
        color: white;
        font-family: Courgette;
        font-size: 19px;
    }
    .navbar-toggle{
        border: 1px solid white;
        .icon-bar{
            color: white;
            border-color: white;
            background-color: white;  
        }
    }
}
