@import "_variables.scss";
@import "_form.scss";
@import "_reset.scss";
@import "_marginpadding.scss";
@import "_fonts.scss";
@import "_navbar.scss";
@import "_home.scss";
@import "_mixins.scss";
@import "_novedades.scss";
@import "_buttons.scss";
@import "_register.scss";
@import "_nuestrostaff.scss";
@import "_login.scss";
body {
    padding-top: 50px;
    min-height: 600px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/* no text decoration for a */
a{
    text-decoration: none !important;
}
/*font modification*/
html {
    font-family: 'Helvetica';
}

h1{
    font-family: "Josefin Sans";
    color: #640000;
    font-size: 35px;
}
h3{
    color: #37474f;
    font-family: "Josefin Sans";
    font-size: 29px;

}



.block{
    display:block;
}

footer{
    background-color:rgb(100, 0, 0); 
    padding-bottom: 25px;
    z-index: -10;
    bottom: 0%;
    width: 100%;
    .col-border{
        border-right: 2px solid rgb(80, 0, 0);
    }
    .logo-brand{
        color: white;
        font-family: Courgette;
        font-size: 19px;
        margin-top: 5px;
    }
    .li_title{
        color: rgba(218,165,32, 0.8);
        font-family: "Courgette";
        font-size: 22px;
    }
    .li_item{
        a{
            color: white;
            font-family: "Asap";
            font-size: 16px;
            margin-bottom: 5px;
            &:hover{
                 color: rgb(218,165,32);  
            }
        } 
    }
   
}

.admin{
    padding: 15px;
    span{
        font-family: "Asap";
        font-size: 16px;
        color: green;
    }
}