@import "_reset.scss";
@import "_marginpadding.scss";
@import "_fonts.scss";
@import "_navbar.scss";
@import "_home.scss";
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/* no text decoration for a */
a{
    text-decoration: none !important;
}
/*font modification*/
html {
    font-family: 'Helvetica';
}

