@import 'https://fonts.googleapis.com/css?family=Asap:400,400i,700,700i|Bad+Script|Pacifico';
@import 'https://fonts.googleapis.com/css?family=Caveat+Brush|Courgette|Josefin+Sans:600|Kalam';
.form-red input[type="date"]::-webkit-inner-spin-button {
  display: none; }

.form-red ::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #fff;
  font-family: "Josefin Sans";
  font-size: 19px; }

.form-red :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #fff;
  font-family: "Josefin Sans";
  font-size: 19px; }

.form-red ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #fff;
  font-family: "Josefin Sans";
  font-size: 19px; }

.form-red :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fff;
  font-family: "Josefin Sans";
  font-size: 19px; }

.form-red .control-label {
  color: #37474f;
  font-family: "Josefin Sans";
  font-size: 19px; }

.form-red .form-control {
  width: 100%;
  background: #640000;
  color: #FFFFFF;
  border: 2px solid #FFFFFF;
  border-radius: 0px;
  font-size: 16px;
  height: 22px;
  line-height: 22px;
  padding: 12px;
  box-shadow: 0px 0px 8px #DCDCDC;
  -webkit-box-shadow: 0px 0px 8px #DCDCDC;
  -moz-box-shadow: 0px 0px 8px #DCDCDC; }

.form-red textarea {
  background: #640000;
  color: #FFFFFF;
  border: 2px solid #FFFFFF;
  border-radius: 0px;
  font-size: 16px;
  line-height: 22px;
  padding: 12px;
  box-shadow: 0px 0px 8px #DCDCDC;
  -webkit-box-shadow: 0px 0px 8px #DCDCDC;
  -moz-box-shadow: 0px 0px 8px #DCDCDC;
  resize: none;
  width: 100%;
  min-height: 200px; }

.form-red label {
  display: block; }

.form-red .validation {
  font-weight: 700;
  display: block; }

.form-red input[type="checkbox"] {
  margin: 0; }

.form-red select {
  width: 100%;
  background: #640000;
  color: #FFFFFF;
  border: 2px solid #FFFFFF;
  border-radius: 0px;
  font-size: 16px;
  line-height: 22px;
  padding: 3px;
  box-shadow: 0px 0px 8px #DCDCDC;
  -webkit-box-shadow: 0px 0px 8px #DCDCDC;
  -moz-box-shadow: 0px 0px 8px #DCDCDC;
  height: 28px; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace,serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, select {
  text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.pan {
  padding: 0    !important; }

.pln, .phn {
  padding-left: 0    !important; }

.prn, .phn {
  padding-right: 0    !important; }

.pbn, .pvn {
  padding-bottom: 0    !important; }

.ptn, .pvn {
  padding-top: 0    !important; }

.paxs {
  padding: 5px  !important; }

.plxs, .phxs {
  padding-left: 5px  !important; }

.prxs, .phxs {
  padding-right: 5px  !important; }

.pbxs, .pvxs {
  padding-bottom: 5px  !important; }

.ptxs, .pvxs {
  padding-top: 5px  !important; }

.pas {
  padding: 10px !important; }

.pls, .phs {
  padding-left: 10px !important; }

.prs, .phs {
  padding-right: 10px !important; }

.pbs, .pvs {
  padding-bottom: 10px !important; }

.pts, .pvs {
  padding-top: 10px !important; }

.pam {
  padding: 15px !important; }

.plm, .phm {
  padding-left: 15px !important; }

.prm, .phm {
  padding-right: 15px !important; }

.pbm, .pvm {
  padding-bottom: 15px !important; }

.ptm, .pvm {
  padding-top: 15px !important; }

.pal {
  padding: 20px !important; }

.pll, .phl {
  padding-left: 20px !important; }

.prl, .phl {
  padding-right: 20px !important; }

.pbl, .pvl {
  padding-bottom: 20px !important; }

.ptl, .pvl {
  padding-top: 20px !important; }

.paxl {
  padding: 30px !important; }

.plxl, .phwl {
  padding-left: 30px !important; }

.prxl, .phxl {
  padding-right: 30px !important; }

.pbxl, .pvxl {
  padding-bottom: 30px !important; }

.ptxl, .pvxl {
  padding-top: 30px !important; }

.man {
  margin: 0    !important; }

.mln, .mhn {
  margin-left: 0    !important; }

.mrn, .mhn {
  margin-right: 0    !important; }

.mbn, .mvn {
  margin-bottom: 0    !important; }

.mtn, .mvn {
  margin-top: 0    !important; }

.maxs {
  margin: 5px  !important; }

.mlxs, .mhxs {
  margin-left: 5px  !important; }

.mrxs, .mhxs {
  margin-right: 5px  !important; }

.mbxs, .mvxs {
  margin-bottom: 5px  !important; }

.mtxs, .mvxs {
  margin-top: 5px  !important; }

.mas {
  margin: 10px !important; }

.mls, .mhs {
  margin-left: 10px !important; }

.mrs, .mhs {
  margin-right: 10px !important; }

.mbs, .mvs {
  margin-bottom: 10px !important; }

.mts, .mvs {
  margin-top: 10px !important; }

.mam {
  margin: 15px !important; }

.mlm, .mhm {
  margin-left: 15px !important; }

.mrm, .mhm {
  margin-right: 15px !important; }

.mbm, .mvm {
  margin-bottom: 15px !important; }

.mtm, .mvm {
  margin-top: 15px !important; }

.mal {
  margin: 20px !important; }

.mll, .mhl {
  margin-left: 20px !important; }

.mrl, .mhl {
  margin-right: 20px !important; }

.mbl, .mvl {
  margin-bottom: 20px !important; }

.mtl, .mvl {
  margin-top: 20px !important; }

.maxl {
  margin: 30px !important; }

.mlxl, .mhwl {
  margin-left: 30px !important; }

.mrxl, .mhxl {
  margin-right: 30px !important; }

.mbxl, .mvxl {
  margin-bottom: 30px !important; }

.mtxl, .mvxl {
  margin-top: 30px !important; }

.navbar {
  background-color: rgba(0, 0, 0, 0.4);
  border: none; }
  .navbar .nav > li > a {
    color: white;
    font-family: "Asap";
    font-size: 16px; }
  .navbar .nav > li > p {
    color: white;
    padding-top: 17px;
    font-family: "Asap";
    font-size: 16px; }
  .navbar .user-name {
    color: pink; }
  .navbar .nav > li > a:hover, .navbar .nav > li > a:focus, .navbar .nav > li.active > a {
    background-color: rgba(0, 0, 0, 0.6); }
  .navbar .navbar-brand {
    color: white;
    font-family: Courgette;
    font-size: 19px; }
  .navbar .navbar-toggle {
    border: 1px solid white; }
    .navbar .navbar-toggle .icon-bar {
      color: white;
      border-color: white;
      background-color: white; }

.home .white {
  color: white; }

.home .section0-img {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 3; }

.home .section0-overlay {
  background-color: #000000;
  opacity: 0.4;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%; }

.home_quote {
  position: absolute;
  bottom: 25%;
  left: 10%;
  font-family: 'Bad Script', cursive;
  font-size: 50px;
  color: white;
  animation-delay: 2s;
  z-index: 11; }

.home #section1 {
  background-image: url("/Content/img/background-8.jpg");
  background-size: cover;
  background-repeat: no-repeat; }
  .home #section1 p {
    color: #494848;
    font-family: "Courgette";
    font-size: 60px;
    padding: 10px 130px; }
  .home #section1 p:hover {
    transform: scale(1.1);
    transition-duration: 5s; }
  .home #section1 .function-icon {
    height: 162px;
    width: 160px;
    margin-bottom: 20px; }

.home #section2 {
  background-image: url("/Content/img/background-4.jpg");
  background-size: cover;
  background-repeat: no-repeat; }
  .home #section2 p {
    color: #760000;
    font-family: "Josefin Sans";
    font-size: 49px;
    padding: 10px 105px;
    line-height: 55px;
    border-radius: 20px; }
  .home #section2 p:hover {
    transform: skew(5deg, 5deg);
    transition-duration: 5s; }

.home #section3 {
  background-image: url("/Content/img/background-10.jpg");
  background-size: cover;
  background-repeat: no-repeat; }
  .home #section3 h3 {
    color: white;
    font-family: "Courgette";
    font-size: 55px; }
  .home #section3 p {
    color: white;
    font-family: "Courgette";
    font-size: 49px; }
  .home #section3 p:hover {
    transform: skew(5deg, 5deg);
    transition-duration: 5s; }

#fp-nav ul li a span {
  background: white; }

#fp-nav ul li .fp-tooltip {
  color: #fff;
  font-size: 20px;
  font-family: "Courgette" , sans-serif;
  top: -5.5px; }

@media (max-width: 992px) {
  .home #section1 {
    background-image: url("/Content/img/background-8.jpg");
    /*fondo para pantalla mas chica*/ }
    .home #section1 p {
      font-size: 30px;
      padding: 20px 50px; }
    .home #section1 .function-icon {
      height: 162px;
      width: 160px; }
  .home #section2 {
    background-image: url("/Content/img/background-4.jpg");
    /*fondo para pantalla mas chica*/ }
    .home #section2 p {
      font-size: 29px;
      padding: 20px 50px;
      line-height: 31px; } }

@media (max-width: 768px) {
  .navbar {
    background-color: rgba(0, 0, 0, 0.7); }
    .navbar .nav > li > a:hover, .navbar .nav > li > a:focus, .navbar .nav > li.active > a {
      background-color: rgba(0, 0, 0, 0.9); }
  .novedades .grid figcaption p {
    top: 5%;
    left: 5%;
    font-family: Courgette;
    font-size: 14px; }
  .novedades .cs-style-6 figure:hover img {
    -webkit-transform: translateY(-40px) scale(0) !important;
    -moz-transform: translateY(-40px) scale(0) !important;
    -ms-transform: translateY(-40px) scale(0) !important;
    transform: translateY(-40px) scale(0) !important; } }

.create {
  background-color: #e0e0e0; }

.novedades {
  background-color: #e0e0e0;
  /*hover efect para las noticias*/
  /* Caption Style 6 */ }
  .novedades hr {
    border-top: 1px solid #640000; }
  .novedades .grid {
    display: inline-block;
    margin: 0;
    padding: 20px;
    text-align: left;
    position: relative; }
  .novedades .grid figure {
    margin: 0;
    position: relative; }
  .novedades .grid figure img {
    max-width: 100%;
    height: 350px;
    display: block;
    position: relative; }
  .novedades .grid figcaption {
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px;
    background: #640000;
    height: 350px; }
  .novedades .grid figcaption p {
    position: absolute;
    bottom: 10%;
    left: 5%;
    margin: 0;
    padding: 0;
    color: white;
    font-family: Josefin Sans;
    font-size: 22px; }
  .novedades .grid figcaption .author:before {
    content: 'by '; }
  .novedades .grid figcaption .date {
    font-family: Courgette !important;
    font-size: 14px; }
  .novedades .grid figcaption .author {
    font-family: Courgette !important;
    font-size: 14px; }
  .novedades .grid figcaption a {
    text-align: center;
    padding: 10px 20px;
    border-radius: 2px;
    display: inline-block;
    background: goldenrod;
    font-size: 19px;
    color: white;
    font-family: "Josefin Sans"; }
    .novedades .grid figcaption a:hover {
      background: #e4c33e; }
  .novedades .cs-style-6 figure img {
    z-index: 10;
    -webkit-transition: -webkit-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    transition: transform 0.4s; }
  .novedades .cs-style-6 figure:hover img {
    -webkit-transform: translateY(-40px) scale(0.5);
    -moz-transform: translateY(-40px) scale(0.5);
    -ms-transform: translateY(-40px) scale(0.5);
    transform: translateY(-40px) scale(0.5); }
  .novedades .cs-style-6 figcaption {
    height: 100%;
    width: 100%; }
  .novedades .cs-style-6 figcaption a {
    position: absolute;
    bottom: 20px;
    right: 20px; }

.novedad {
  background-color: #781414; }
  .novedad h3, .novedad h4 {
    color: white; }
  .novedad p {
    color: white;
    font-family: Asap;
    font-size: 19px; }
  .novedad .author, .novedad .date {
    font-family: Courgette;
    font-size: 14px; }

/* Box colors */
.bg-1 {
  background: #ECEFF1;
  color: #37474f; }

.bg-2 {
  background: #7986cb;
  color: #ECEFF1; }

.bg-3 {
  background: #37474f;
  color: #fff; }

/* Common button styles */
.button {
  float: left;
  min-width: 150px;
  max-width: 250px;
  display: block;
  padding: 1em 2em;
  border: none;
  background: none;
  color: inherit;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  -webkit-backface-visibility: hidden; }

.button:focus {
  outline: none; }

.button > span {
  vertical-align: middle; }

/* Text color adjustments (we could stick to the "inherit" but that does not work well in Safari) */
.bg-1 .button {
  color: #37474f;
  border-color: #37474f; }

.bg-2 .button {
  color: #ECEFF1;
  border-color: #ECEFF1; }

.bg-3 .button {
  color: #fff;
  border-color: #fff; }

/* Sizes */
.button--size-s {
  font-size: 14px; }

.button--size-m {
  font-size: 16px; }

.button--size-l {
  font-size: 18px; }

/* Typography and Roundedness */
.button--text-upper {
  letter-spacing: 2px;
  text-transform: uppercase; }

.button--text-thin {
  font-weight: 300; }

.button--text-medium {
  font-weight: 500; }

.button--text-thick {
  font-weight: 600; }

.button--round-s {
  border-radius: 5px; }

.button--round-m {
  border-radius: 15px; }

.button--round-l {
  border-radius: 40px; }

/* Borders */
.button--border-thin {
  border: 1px solid; }

.button--border-medium {
  border: 2px solid; }

.button--border-thick {
  border: 3px solid; }

/* Individual button styles */
/* Winona */
.button--winona {
  overflow: hidden;
  padding: 0;
  -webkit-transition: border-color 0.3s, background-color 0.3s;
  transition: border-color 0.3s, background-color 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1); }

.button--winona::after {
  content: attr(data-text);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  color: #3f51b5;
  -webkit-transform: translate3d(0, 25%, 0);
  transform: translate3d(0, 25%, 0); }

.button--winona > span {
  display: block; }

.button--winona.button--inverted {
  color: #7986cb; }

.button--winona.button--inverted:after {
  color: #fff; }

.button--winona::after,
.button--winona > span {
  padding: 1em 2em;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1); }

.button--winona:hover {
  border-color: #3f51b5;
  background-color: rgba(63, 81, 181, 0.1); }

.button--winona.button--inverted:hover {
  border-color: #21333C;
  background-color: #21333C; }

.button--winona:hover::after {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.button--winona:hover > span {
  opacity: 0;
  -webkit-transform: translate3d(0, -25%, 0);
  transform: translate3d(0, -25%, 0); }

/* Ujarak */
.button--ujarak {
  -webkit-transition: border-color 0.4s, color 0.4s;
  transition: border-color 0.4s, color 0.4s; }

.button--ujarak::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #37474f;
  z-index: -1;
  opacity: 0;
  -webkit-transform: scale3d(0.7, 1, 1);
  transform: scale3d(0.7, 1, 1);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
  transition: transform 0.4s, opacity 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1); }

.button--ujarak.button--round-s::before {
  border-radius: 2px; }

.button--ujarak.button--inverted::before {
  background: #7986CB; }

.button--ujarak,
.button--ujarak::before {
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1); }

.button--ujarak:hover {
  color: #fff;
  border-color: #37474f; }

.button--ujarak.button--inverted:hover {
  color: #37474F;
  border-color: #fff; }

.button--ujarak:hover::before {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

/* Wayra */
.button--wayra {
  overflow: hidden;
  width: 245px;
  -webkit-transition: border-color 0.3s, color 0.3s;
  transition: border-color 0.3s, color 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1); }

.button--wayra::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 150%;
  height: 100%;
  background: #37474f;
  z-index: -1;
  -webkit-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
  transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
  -webkit-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s, background-color 0.3s;
  transition: transform 0.3s, opacity 0.3s, background-color 0.3s; }

.button--wayra:hover {
  color: #fff;
  border-color: #3f51b5; }

.button--wayra.button--inverted:hover {
  color: #3f51b5;
  border-color: #fff; }

.button--wayra:hover::before {
  opacity: 1;
  background-color: #3f51b5;
  -webkit-transform: rotate3d(0, 0, 1, 0deg);
  transform: rotate3d(0, 0, 1, 0deg);
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1); }

.button--wayra.button--inverted:hover::before {
  background-color: #fff; }

/* Tamaya */
.button--tamaya {
  overflow: hidden;
  color: #7986cb;
  min-width: 180px; }

.button--tamaya.button--inverted {
  color: #37474f;
  border-color: #37474f; }

.button--tamaya::before,
.button--tamaya::after {
  content: attr(data-text);
  position: absolute;
  width: 100%;
  height: 50%;
  left: 0;
  background: #7986cb;
  color: #fff;
  overflow: hidden;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1); }

.button--tamaya.button--inverted::before,
.button--tamaya.button--inverted::after {
  background: #fff;
  color: #37474f; }

.button--tamaya::before {
  top: 0;
  padding-top: 1em; }

.button--tamaya::after {
  bottom: 0;
  line-height: 0; }

.button--tamaya > span {
  display: block;
  -webkit-transform: scale3d(0.2, 0.2, 1);
  transform: scale3d(0.2, 0.2, 1);
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1); }

.button--tamaya:hover::before {
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0); }

.button--tamaya:hover::after {
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0); }

.button--tamaya:hover > span {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1); }

/* Rayen */
.button--rayen {
  overflow: hidden;
  padding: 0;
  width: 230px; }

.button--rayen.button--inverted {
  color: #fff; }

.button--rayen::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #7986cb;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0); }

.button--rayen.button--inverted::before {
  background: #fff;
  color: #37474f; }

.button--rayen > span {
  display: block; }

.button--rayen::before,
.button--rayen > span {
  padding: 1em 2em;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1); }

.button--rayen:hover::before {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.button--rayen:hover > span {
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0); }

/* Pipaluk */
.button--pipaluk {
  width: 240px;
  padding: 1.5em 3em;
  color: #fff; }

.button--pipaluk.button--inverted {
  color: #7986cb; }

.button--pipaluk::before,
.button--pipaluk::after {
  content: '';
  border-radius: inherit;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  -webkit-transition: -webkit-transform 0.3s, background-color 0.3s;
  transition: transform 0.3s, background-color 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.25, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.25, 0, 0.3, 1); }

.button--pipaluk::before {
  border: 2px solid #7986cb; }

.button--pipaluk.button--inverted::before {
  border-color: #fff; }

.button--pipaluk::after {
  background: #7986cb; }

.button--pipaluk.button--inverted::after {
  background: #fff; }

.button--pipaluk:hover::before {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1); }

.button--pipaluk::before,
.button--pipaluk:hover::after {
  -webkit-transform: scale3d(0.7, 0.7, 1);
  transform: scale3d(0.7, 0.7, 1); }

.button--pipaluk:hover::after {
  background-color: #3f51b5; }

.button--pipaluk.button--inverted:hover::after {
  background-color: #fff; }

/* Nuka */
.button--nuka {
  margin: 1em 2em;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1); }

.button--nuka.button--inverted {
  color: #37474f; }

.button--nuka::before,
.button--nuka::after {
  content: '';
  position: absolute;
  border-radius: inherit;
  background: #7986cb;
  z-index: -1; }

.button--nuka::before {
  top: -4px;
  bottom: -4px;
  left: -4px;
  right: -4px;
  opacity: 0.2;
  -webkit-transform: scale3d(0.7, 1, 1);
  transform: scale3d(0.7, 1, 1);
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s; }

.button--nuka::after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scale3d(1.1, 1, 1);
  transform: scale3d(1.1, 1, 1);
  -webkit-transition: -webkit-transform 0.3s, background-color 0.3s;
  transition: transform 0.3s, background-color 0.3s; }

.button--nuka::before,
.button--nuka::after {
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1); }

.button--nuka.button--inverted::before,
.button--nuka.button--inverted::after {
  background: #fff; }

.button--nuka:hover {
  color: #fff; }

.button--nuka:hover::before {
  opacity: 1; }

.button--nuka:hover::after {
  background-color: #37474f; }

.button--nuka.button--inverted:hover::after {
  background-color: #7986cb; }

.button--nuka:hover::after,
.button--nuka:hover::before {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1); }

/* Moema */
.button--moema {
  padding: 1.5em 3em;
  border-radius: 50px;
  background: #7986cb;
  color: #fff;
  -webkit-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s; }

.button--moema.button--inverted {
  background: #640000;
  color: #37474f; }

.button--moema::before {
  content: '';
  position: absolute;
  top: -20px;
  left: -20px;
  bottom: -20px;
  right: -20px;
  background: #640000;
  border-radius: 50px;
  z-index: -1;
  opacity: 0.4;
  -webkit-transform: scale3d(0.8, 0.5, 1);
  transform: scale3d(0.8, 0.5, 1); }

.button--moema:hover {
  -webkit-transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
  transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
  color: #ECEFF1;
  background-color: #640000;
  -webkit-animation: anim-moema-1 0.3s forwards;
  animation: anim-moema-1 0.3s forwards; }

.button--moema.button--inverted:hover {
  color: #ECEFF1;
  background-color: #640000; }

.button--moema:hover::before {
  -webkit-animation: anim-moema-2 0.3s 0.3s forwards;
  animation: anim-moema-2 0.3s 0.3s forwards; }

@-webkit-keyframes anim-moema-1 {
  60% {
    -webkit-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1); }
  85% {
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1); }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

@keyframes anim-moema-1 {
  60% {
    -webkit-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1); }
  85% {
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1); }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

@-webkit-keyframes anim-moema-2 {
  to {
    opacity: 0;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

@keyframes anim-moema-2 {
  to {
    opacity: 0;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

/* Isi */
.button--isi {
  padding: 1.2em 2em;
  color: #fff;
  background: #7986cb;
  overflow: hidden; }

.button--isi::before {
  content: '';
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 100%;
  margin: -15px 0 0 1px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #3f51b5;
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transform: scale3d(1, 2, 1);
  transform: scale3d(1, 2, 1);
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.9, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.9, 1); }

.button--isi .button__icon {
  vertical-align: middle; }

.button--isi > span {
  vertical-align: middle;
  padding-left: 0.75em; }

.button--isi:hover::before {
  -webkit-transform: scale3d(9, 9, 1);
  transform: scale3d(9, 9, 1); }

/* Aylen */
.button.button--aylen {
  background: #fff;
  color: #37474f;
  overflow: hidden;
  -webkit-transition: color 0.3s;
  transition: color 0.3s; }

.button--aylen.button--inverted {
  background: none;
  color: #fff; }

.button--aylen::before,
.button--aylen::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 100%;
  left: 0;
  z-index: -1;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1); }

.button--aylen::before {
  background: #7986cb; }

.button--aylen::after {
  background: #3f51b5; }

.button--aylen:hover {
  color: #fff; }

.button--aylen:hover::before,
.button--aylen:hover::after {
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0); }

.button--aylen:hover::after {
  -webkit-transition-delay: 0.175s;
  transition-delay: 0.175s; }

/* Saqui */
.button.button--saqui {
  overflow: hidden;
  color: #fff;
  background: #37474f;
  -webkit-transition: background-color 0.3s ease-in, color 0.3s ease-in;
  transition: background-color 0.3s ease-in, color 0.3s ease-in; }

.button--saqui.button--inverted {
  background: #fff;
  color: #37474f; }

.button--saqui::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1em 2em;
  color: #37474f;
  -webkit-transform-origin: -25% 50%;
  transform-origin: -25% 50%;
  -webkit-transform: rotate3d(0, 0, 1, 45deg);
  transform: rotate3d(0, 0, 1, 45deg);
  -webkit-transition: -webkit-transform 0.3s ease-in;
  transition: transform 0.3s ease-in; }

.button--saqui.button--inverted::after {
  color: #fff; }

.button--saqui:hover::after,
.button--saqui:hover {
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.button--saqui:hover {
  background-color: #7986cb;
  color: #7986cb; }

.button--saqui.button--inverted:hover {
  background-color: #3f51b5;
  color: #3f51b5; }

.button--saqui:hover::after {
  -webkit-transform: rotate3d(0, 0, 1, 0deg);
  transform: rotate3d(0, 0, 1, 0deg); }

/* Wapasha */
.button.button--wapasha {
  background: #37474f;
  color: #fff;
  -webkit-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s; }

.button--wapasha.button--inverted {
  background: #fff;
  color: #37474f; }

.button--wapasha::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid white;
  z-index: -1;
  border-radius: inherit;
  opacity: 0;
  -webkit-transform: scale3d(0.6, 0.6, 1);
  transform: scale3d(0.6, 0.6, 1);
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1); }

.button--wapasha.button--inverted::before {
  border-color: white; }

.button--wapasha:hover {
  background-color: #640000;
  color: white; }

.button--wapasha.button--inverted:hover {
  background-color: #640000;
  color: white; }

.button--wapasha:hover::before {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  opacity: 1; }

/* Nina */
.button--nina {
  padding: 0 2em;
  background: #7986cb;
  color: #fff;
  overflow: hidden;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s; }

.button--nina.button--inverted {
  background: #fff;
  color: #7986cb; }

.button--nina > span {
  display: inline-block;
  padding: 1em 0;
  opacity: 0;
  color: #fff;
  -webkit-transform: translate3d(0, -10px, 0);
  transform: translate3d(0, -10px, 0);
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1); }

.button--nina::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1em 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1); }

.button--nina:hover {
  background-color: #3f51b5; }

.button--nina:hover::before {
  opacity: 0;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0); }

.button--nina:hover > span {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.button--nina:hover > span:nth-child(1) {
  -webkit-transition-delay: 0.045s;
  transition-delay: 0.045s; }

.button--nina:hover > span:nth-child(2) {
  -webkit-transition-delay: 0.09s;
  transition-delay: 0.09s; }

.button--nina:hover > span:nth-child(3) {
  -webkit-transition-delay: 0.135s;
  transition-delay: 0.135s; }

.button--nina:hover > span:nth-child(4) {
  -webkit-transition-delay: 0.18s;
  transition-delay: 0.18s; }

.button--nina:hover > span:nth-child(5) {
  -webkit-transition-delay: 0.225s;
  transition-delay: 0.225s; }

.button--nina:hover > span:nth-child(6) {
  -webkit-transition-delay: 0.27s;
  transition-delay: 0.27s; }

.button--nina:hover > span:nth-child(7) {
  -webkit-transition-delay: 0.315s;
  transition-delay: 0.315s; }

.button--nina:hover > span:nth-child(8) {
  -webkit-transition-delay: 0.36s;
  transition-delay: 0.36s; }

.button--nina:hover > span:nth-child(9) {
  -webkit-transition-delay: 0.405s;
  transition-delay: 0.405s; }

.button--nina:hover > span:nth-child(10) {
  -webkit-transition-delay: 0.45s;
  transition-delay: 0.45s; }

/* Nanuk */
.button--nanuk {
  padding: 0 2em;
  overflow: hidden;
  background: #7986cb;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s; }

.button--nanuk.button--inverted {
  background: #fff;
  color: #7986cb; }

.button--nanuk > span {
  display: inline-block;
  padding: 1em 0; }

.button--nanuk:hover {
  background-color: #3f51b5; }

.button--nanuk:hover > span:nth-child(odd) {
  -webkit-animation: anim-nanuk-1 0.5s forwards;
  animation: anim-nanuk-1 0.5s forwards; }

.button--nanuk:hover > span:nth-child(even) {
  -webkit-animation: anim-nanuk-2 0.5s forwards;
  animation: anim-nanuk-2 0.5s forwards; }

.button--nanuk:hover > span:nth-child(odd),
.button--nanuk:hover > span:nth-child(even) {
  -webkit-animation-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-animation-function: cubic-bezier(0.75, 0, 0.125, 1); }

@-webkit-keyframes anim-nanuk-1 {
  0%,
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  49% {
    opacity: 1;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  50% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    color: inherit; }
  51% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    color: #fff; }
  100% {
    color: #fff; } }

@keyframes anim-nanuk-1 {
  0%,
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  49% {
    opacity: 1;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  50% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    color: inherit; }
  51% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    color: #fff; }
  100% {
    color: #fff; } }

@-webkit-keyframes anim-nanuk-2 {
  0%,
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  49% {
    opacity: 1;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }
  50% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    color: inherit; }
  51% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    color: #fff; }
  100% {
    color: #fff; } }

@keyframes anim-nanuk-2 {
  0%,
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  49% {
    opacity: 1;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }
  50% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    color: inherit; }
  51% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    color: #fff; }
  100% {
    color: #fff; } }

.button--nanuk:hover > span:nth-child(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s; }

.button--nanuk:hover > span:nth-child(2) {
  -webkit-animation-delay: 0.05s;
  animation-delay: 0.05s; }

.button--nanuk:hover > span:nth-child(3) {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s; }

.button--nanuk:hover > span:nth-child(4) {
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s; }

.button--nanuk:hover > span:nth-child(5) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }

.button--nanuk:hover > span:nth-child(6) {
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s; }

.button--nanuk:hover > span:nth-child(7) {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }

.button--nanuk:hover > span:nth-child(8) {
  -webkit-animation-delay: 0.35s;
  animation-delay: 0.35s; }

.button--nanuk:hover > span:nth-child(9) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s; }

.button--nanuk:hover > span:nth-child(10) {
  -webkit-animation-delay: 0.45s;
  animation-delay: 0.45s; }

.button--nanuk:hover > span:nth-child(11) {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s; }

/* Antiman */
.button--antiman {
  background: none;
  border: none;
  height: 60px; }

.button--antiman.button--inverted,
.button--antiman.button--inverted-alt {
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1); }

.button--antiman > span {
  padding-left: 0.35em; }

.button--antiman::before,
.button--antiman::after {
  content: '';
  z-index: -1;
  border-radius: inherit;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1); }

.button--antiman::before {
  border: 2px solid #37474f;
  opacity: 0;
  -webkit-transform: scale3d(1.2, 1.2, 1);
  transform: scale3d(1.2, 1.2, 1); }

.button--antiman.button--border-thin::before {
  border-width: 1px; }

.button--antiman.button--border-medium::before {
  border-width: 2px; }

.button--antiman.button--border-thick::before {
  border-width: 3px; }

.button--antiman.button--inverted::before {
  border-color: #7986cb; }

.button--antiman.button--inverted-alt::before {
  border-color: #3f51b5; }

.button--antiman::after {
  background: #fff; }

.button--antiman.button--inverted::after {
  background: #7986cb; }

.button--antiman.button--inverted-alt::after {
  background: #3f51b5; }

.button--antiman.button--inverted:hover {
  color: #7986cb; }

.button--antiman.button--inverted-alt:hover {
  color: #3f51b5; }

.button--antiman:hover::before {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1); }

.button--antiman:hover::after {
  opacity: 0;
  -webkit-transform: scale3d(0.8, 0.8, 1);
  transform: scale3d(0.8, 0.8, 1); }

/* Itzel */
.button--itzel {
  border: none;
  padding: 0px;
  overflow: hidden;
  width: 255px; }

.button--itzel::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid;
  border-radius: inherit;
  -webkit-clip-path: polygon(0% 0%, 0% 100%, 35% 100%, 35% 60%, 65% 60%, 65% 100%, 100% 100%, 100% 0%);
  clip-path: url(../index.html#clipBox);
  -webkit-transform: translate3d(0, 100%, 0) translate3d(0, -2px, 0);
  transform: translate3d(0, 100%, 0) translate3d(0, -2px, 0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%; }

.button--itzel.button--border-thin::before {
  border: 1px solid;
  -webkit-transform: translate3d(0, 100%, 0) translate3d(0, -1px, 0);
  transform: translate3d(0, 100%, 0) translate3d(0, -1px, 0); }

.button--itzel.button--border-thick::before {
  border: 3px solid;
  -webkit-transform: translate3d(0, 100%, 0) translate3d(0, -3px, 0);
  transform: translate3d(0, 100%, 0) translate3d(0, -3px, 0); }

.button--itzel::before,
.button--itzel .button__icon {
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1); }

.button--itzel .button__icon {
  position: absolute;
  top: 100%;
  left: 50%;
  padding: 20px;
  font-size: 20px;
  -webkit-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0); }

.button--itzel > span {
  display: block;
  padding: 20px;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s; }

.button--itzel:hover::before {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.button--itzel:hover .button__icon {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
  -webkit-transform: translate3d(-50%, -100%, 0);
  transform: translate3d(-50%, -100%, 0); }

.button--itzel:hover > span {
  opacity: 0;
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
  -webkit-transition-delay: 0s;
  transition-delay: 0s; }

/* Naira */
.button--naira {
  padding: 0;
  overflow: hidden;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s; }

.button--naira::before {
  content: '';
  position: absolute;
  left: -50%;
  width: 200%;
  height: 200%;
  background: #37474f;
  top: -50%;
  z-index: -1;
  -webkit-transform: translate3d(0, -100%, 0) rotate3d(0, 0, 1, -10deg);
  transform: translate3d(0, -100%, 0) rotate3d(0, 0, 1, -10deg); }

.button--naira.button--inverted::before {
  background: #7986cb; }

.button--naira-up::before {
  -webkit-transform: translate3d(0, 100%, 0) rotate3d(0, 0, 1, 10deg);
  transform: translate3d(0, 100%, 0) rotate3d(0, 0, 1, 10deg); }

.button--naira > span {
  display: block; }

.button--naira .button__icon {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  color: #fff;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0); }

.button--naira-up .button__icon {
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0); }

.button--naira > span,
.button--naira .button__icon {
  padding: 1em 2em;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1); }

.button--naira:hover::before {
  -webkit-animation: anim-naira-1 0.3s forwards ease-in;
  animation: anim-naira-1 0.3s forwards ease-in; }

.button--naira-up:hover::before {
  -webkit-animation: anim-naira-2 0.3s forwards ease-in;
  animation: anim-naira-2 0.3s forwards ease-in; }

@-webkit-keyframes anim-naira-1 {
  50% {
    -webkit-transform: translate3d(0, -50%, 0) rotate3d(0, 0, 1, -10deg);
    transform: translate3d(0, -50%, 0) rotate3d(0, 0, 1, -10deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  100% {
    -webkit-transform: translate3d(0, 0%, 0) rotate3d(0, 0, 1, 0deg);
    transform: translate3d(0, 0%, 0) rotate3d(0, 0, 1, 0deg); } }

@keyframes anim-naira-1 {
  50% {
    -webkit-transform: translate3d(0, -50%, 0) rotate3d(0, 0, 1, -10deg);
    transform: translate3d(0, -50%, 0) rotate3d(0, 0, 1, -10deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  100% {
    -webkit-transform: translate3d(0, 0%, 0) rotate3d(0, 0, 1, 0deg);
    transform: translate3d(0, 0%, 0) rotate3d(0, 0, 1, 0deg); } }

@-webkit-keyframes anim-naira-2 {
  50% {
    -webkit-transform: translate3d(0, 50%, 0) rotate3d(0, 0, 1, 10deg);
    transform: translate3d(0, 50%, 0) rotate3d(0, 0, 1, 10deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  100% {
    -webkit-transform: translate3d(0, 0%, 0) rotate3d(0, 0, 1, 0deg);
    transform: translate3d(0, 0%, 0) rotate3d(0, 0, 1, 0deg); } }

@keyframes anim-naira-2 {
  50% {
    -webkit-transform: translate3d(0, 50%, 0) rotate3d(0, 0, 1, 10deg);
    transform: translate3d(0, 50%, 0) rotate3d(0, 0, 1, 10deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  100% {
    -webkit-transform: translate3d(0, 0%, 0) rotate3d(0, 0, 1, 0deg);
    transform: translate3d(0, 0%, 0) rotate3d(0, 0, 1, 0deg); } }

.button--naira:hover {
  background-color: #37474f;
  -webkit-transition: background-color 0s 0.3s;
  transition: background-color 0s 0.3s; }

.button--naira.button--inverted:hover {
  background-color: #7986cb; }

.button--naira:hover .button__icon {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.button--naira:hover > span {
  opacity: 0;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0); }

.button--naira-up:hover > span {
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0); }

/* Quidel */
.button--quidel {
  background: #7986cb;
  color: #7986cb;
  overflow: hidden;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1); }

.button--quidel.button--inverted {
  background: #fff;
  color: #fff; }

.button--quidel::before,
.button--quidel::after {
  content: '';
  position: absolute;
  z-index: -1;
  border-radius: inherit; }

.button--quidel::after {
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  background: #fff; }

.button--quidel.button--inverted::after {
  background: #37474f; }

.button--quidel::before {
  background: #37474f;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1); }

.button--quidel.button--inverted::before {
  background: #7986cb; }

.button--round-s.button--quidel::after {
  border-radius: 3px; }

.button--round-m.button--quidel::after {
  border-radius: 13px; }

.button--round-l.button--quidel::after {
  border-radius: 40px; }

.button--quidel > span {
  padding-left: 0.35em; }

.button--quidel:hover {
  color: #37474f; }

.button--quidel.button--inverted:hover {
  color: #7986cb; }

.button--quidel:hover::before {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

/* Sacnite */
.button.button--sacnite {
  width: 70px;
  height: 70px;
  min-width: 0;
  padding: 0;
  color: #fff;
  -webkit-transition: color 0.3s;
  transition: color 0.3s; }

.button--scanite.button--round-l {
  border-radius: 50%; }

.button--sacnite.button--inverted {
  color: #37474f; }

.button--sacnite::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  z-index: -1;
  box-shadow: inset 0 0 0 35px #37474f;
  -webkit-transform: scale3d(0.9, 0.9, 1);
  transform: scale3d(0.9, 0.9, 1);
  -webkit-transition: box-shadow 0.3s, -webkit-transform 0.3;
  transition: box-shadow 0.3s, transform 0.3s; }

.button--sacnite.button--inverted::before {
  box-shadow: inset 0 0 0 35px #fff; }

.button--sacnite .button__icon {
  font-size: 22px;
  width: 22px; }

.button--sacnite > span {
  position: absolute;
  opacity: 0;
  pointer-events: none; }

.button--sacnite:hover {
  color: #37474f; }

.button--sacnite.button--inverted:hover {
  color: #fff; }

.button--sacnite:hover::before {
  box-shadow: inset 0 0 0 2px #37474f;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1); }

.button--sacnite.button--inverted:hover::before {
  box-shadow: inset 0 0 0 2px #fff; }

/* Shikoba */
.button.button--shikoba {
  padding: 1em 30px 1em 50px;
  overflow: hidden;
  background: #fff;
  color: #37474f;
  border-color: #37474f;
  -webkit-transition: background-color 0.3s, border-color 0.3s, color 0.3s;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s; }

.button--shikoba.button--inverted {
  color: #fff;
  background: #7986cb; }

.button--shikoba > span {
  display: inline-block;
  -webkit-transform: translate3d(-10px, 0, 0);
  transform: translate3d(-10px, 0, 0);
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1); }

.button--shikoba .button__icon {
  position: absolute;
  left: 20px;
  font-size: 18px;
  -webkit-transform: translate3d(-40px, 2.5em, 0);
  transform: translate3d(-40px, 2.5em, 0);
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1); }

.button--shikoba:hover .button__icon,
.button--shikoba:hover > span {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.button--shikoba:hover {
  background: #3f51b5;
  border-color: #3f51b5;
  color: #fff; }

.nuestrostaff .thumbnail {
  padding: 15px;
  background-color: #640000;
  min-height: 460px; }
  .nuestrostaff .thumbnail:hover {
    background-color: #781414;
    border: 2px solid goldenrod; }

.nuestrostaff .caption {
  color: white;
  font-family: "Asap";
  font-size: 20px; }

.nuestrostaff .btn {
  color: white;
  font-family: "Kalam";
  background-color: #640000;
  margin-bottom: 3px; }

.nuestrostaff .margin-bottom {
  margin-bottom: 1px; }

.nuestrostaff .margin-bottom-2 {
  margin-bottom: 104px; }

.contacto {
  background-color: lightgray; }
  .contacto h3 {
    color: white; }
  .contacto .panel {
    background-color: #640000;
    border: 2px solid #FFFFFF;
    border-radius: 0px;
    box-shadow: 0px 0px 8px #DCDCDC;
    -webkit-box-shadow: 0px 0px 8px #DCDCDC;
    -moz-box-shadow: 0px 0px 8px #DCDCDC; }
  .contacto_ul li {
    width: 100%;
    margin-bottom: 32px;
    padding: 0 10px; }
  .contacto_ul span, .contacto_ul img, .contacto_ul i {
    color: white;
    float: left;
    margin-right: 15px;
    width: 26px;
    height: 32px;
    padding-bottom: 8px; }
  .contacto_ul p {
    overflow: hidden;
    font: 400 1.6rem / 1.8rem 'Courgette';
    color: white;
    vertical-align: middle; }
  .contacto_ul a p {
    color: white; }
  .contacto_ul a:hover p {
    color: #c80000; }
  .contacto .map {
    min-width: 300px;
    min-height: 300px;
    width: 100%;
    height: 100%; }

.miscasos .well-state {
  background-color: #640000;
  height: 250px; }
  .miscasos .well-state .no-comment {
    font-family: 'Asap';
    color: white; }
  .miscasos .well-state h2 {
    font-family: 'Asap';
    color: white;
    font-size: 20px;
    font-weight: 700; }
  .miscasos .well-state p {
    font-family: 'Asap';
    color: white; }
    .miscasos .well-state p span {
      font-family: 'Asap'; }
  .miscasos .well-state .btn-primary {
    color: white !important; }
    .miscasos .well-state .btn-primary span {
      color: white !important; }

.miscasos .well-case {
  border-color: #800000; }

.profile-img {
  max-height: 300px;
  border: 2px solid red;
  margin: 0 auto; }

.profile p {
  margin: 20px 0;
  color: #37474f;
  font-family: "Asap";
  font-size: 22px; }
  .profile p span {
    color: #37474f;
    font-family: "Asap";
    font-size: 16px; }

.profile a {
  margin: 20px 0;
  color: #37474f;
  font-family: "Asap";
  font-size: 22px; }
  .profile a i {
    color: white; }
  .profile a span {
    font-family: "Asap";
    font-size: 16px; }

.notificaciones label {
  font-family: "Kalam"; }
  .notificaciones label:hover {
    color: red;
    transform: translateX(1.4); }

body {
  min-height: 600px;
  padding-top: 50px; }

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
  white-space: normal; }

/* no text decoration for a */
a {
  text-decoration: none !important; }

/*font modification*/
html {
  font-family: 'Helvetica'; }

h1 {
  font-family: "Josefin Sans";
  color: #640000;
  font-size: 35px; }

h3 {
  color: #37474f;
  font-family: "Josefin Sans";
  font-size: 37px; }

h4 {
  color: #37474f;
  font-family: "Josefin Sans";
  font-size: 28px; }

.badge {
  position: absolute;
  top: 12%;
  right: 0%;
  background-color: #500000;
  color: white;
  font-family: "Josefin Sans"; }

.block {
  display: block; }

footer {
  background-color: #640000;
  padding-bottom: 25px;
  z-index: -10;
  bottom: 0%;
  width: 100%; }
  footer .col-border {
    border-right: 2px solid #500000; }
  footer .logo-brand {
    color: white;
    font-family: Courgette;
    font-size: 19px;
    margin-top: 5px; }
  footer .li_title {
    color: rgba(218, 165, 32, 0.8);
    font-family: "Courgette";
    font-size: 22px; }
  footer .li_item a {
    color: white;
    font-family: "Asap";
    font-size: 16px;
    margin-bottom: 5px; }
    footer .li_item a:hover {
      color: goldenrod; }

.admin {
  padding: 15px; }
  .admin span {
    font-family: "Asap";
    font-size: 16px;
    color: green; }

